

# Set myself to default owner for all files
* @onerandomusername

/.github/workflows/ @Shivansh-007

/modmail/ @onerandomusername @bast0006 @Shivansh-007

/website/ @bast0006 @dawnofmidnight

/shared/ @onerandomusername @Shivansh-007 @bast0006
