## Pre-commit setup

repos:
  # its possible to put this at the bottom, but we want the pre-commit-hooks to check these files as well.
  - repo: local
    hooks:
      - id: ensure-default-configuration-is-exported
        name: Export default configuration
        language: python
        entry: poetry run python -m scripts.export_new_config_to_default_config
        files: '(app\.json|template\.env|modmail\/(config\.py|default_config(\.toml|\.yaml)))$'
        require_serial: true
        additional_dependencies:
          # so apparently these are needed, but the versions don't have to be pinned since it uses the local env
          # go figure.
          - atoml
          - attrs
          - click
          - coloredlogs
          - desert
          - discord.py
          - marshmallow
          - python-dotenv
          - pyyaml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
        exclude: 'mkdocs.yml' # Exclude all mkdocs.yml as they use tags i.e. `!!!`
      - id: pretty-format-json
        exclude: 'app.json'
        args: [--indent=4, --autofix]
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        name: protect-branch
        alias: protect-branch
        args: [--branch=main, --branch=master]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
    - id: generate_requirements.txt
      name: Generate requirements.txt
      entry: python -m scripts.export_requirements --docs
      files: '(pyproject.toml|poetry.lock|requirements.txt|scripts\/export\_requirements\.py|docs\/.requirements.txt)$'
      language: python
      pass_filenames: false
      require_serial: true
      additional_dependencies:
        - tomli~=1.2.1

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-use-type-annotations

  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.11.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black

  - repo: https://github.com/psf/black
    rev: 21.8b0
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
        entry: poetry run flake8
        language: python
        types: [python]
        require_serial: true
