{% if top_line %}
# {{ top_line }}
{% elif version_data.name %}
# {{ version_data.name }} {{ version_data.version }} ({{ version_data.date }})
{% else %}
# {{ version_data.version }} ({{ version_data.date }})
{% endif %}

---

{% for section, fragments in metadata.items() %}
### {{ section_names[section] }}
{% for fragment in fragments %}
- {{ fragment["news_entry"].strip("\n") }} (#{{ fragment["gh_pr"].split("-")[1] }})
{% endfor %}
{% endfor %}
