# because we have mkdocs extensions
# and readthedocs doesn't support building from poetry
# we have to declare our dependencies here

mkdocs==1.2.3
mkdocs-material==7.2.6
mkdocs-markdownextradata-plugin==0.1.9
