# start by ignoring all files
*

# don't ignore this file
!.gitignore

# ignore the local folder, but not the readme
!local/readme.md

# ensure this file is uploaded so `plugins` is considered a module
!__init__.py
