# start by ignoring all files
/*
# don't ignore this file
!/.gitignore

# ignore the local folder, but not the readme
local/**
!local/
!local/README.md

# ensure __init__.py is uploaded so `plugins` is considered a module
!/__init__.py
# keep our helper file in here
!/helpers.py
